<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tavish's homepage</title>
    <script src="/htmx.min.js"></script>
    <script type="module">
      import ZeroMd from '/zero-md.js'
      customElements.define('zero-md', ZeroMd)
    </script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#" hx-get="/blog/menu.md" hx-target="#col-1" hx-trigger="click">blog</a>
      <a href="#" hx-get="/projects/menu.md" hx-target="#col-1" hx-trigger="click">projects</a>
      <a href="#" hx-get="/pictures/menu.md" hx-target="#col-1" hx-trigger="click">pictures</a>
    </div>
    <br>
    <table width="100%">
      <tr>
      <td width="20%" style="vertical-align: top;">
        <div id="col-1">
          <div hx-get="menu.md" hx-trigger="load"></div>
        </div>
      </td>
      <td width="80%" style="vertical-align: top;">
        <div id="col-2">
          <div hx-get="content.md" hx-trigger="load"></div>
        </div>
      </td>
      </tr>
    </table>
  </body>
</html>
