<html>
	<head>
		<LINK REL=StyleSheet HREF="style.css" TYPE="text/css">
			<link rel="icon" type="image/png" href="icon.png" />
	</head>
	<body>
		<div id="headerMain">
			
			<div id="headerText"><a href="index.html"><span style="color:#ffffff">{{page.title}}</span></a></div>
		</div>
		<div>
		<div id="navigationPanel">
			<div class="navigationOptions"><a href="#">Home</a></div>
			<div class="navigationOptions"><a href="html://blog.ntavish.in">Blog</a></div>
			<div class="navigationOptions"><a href="#">About</a></div>
			<div class="navigationOptions"><a href="#">Contact</a></div>
		</div>
		<div id="content">
		    {{content}}
		</div>
		</div>
	</body>
</html>
