<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>nTavish &raquo; {{ page.title }}</title>
   <link rel="icon" type="image/png" href="icon.png" />
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="container_16">
    <div class="grid_4 prefix_1 title">
      <h1><a href="/">nTavish</a></h1>
    </div>
    <div class="grid_4 prefix_6 info">
      <div class="extra">welcome to my corner</div>
      <div class="author">Tavish Naruka</div>
    </div>
  </div>
  
  <div class="container_16">
    <div class="grid_16 prefix_1 main">
      {{ content }}
    </div> 

  </div>

  <div class="container_16">
    <div class="grid_2 prefix_2	 links">
      <h3 id="green">blog</h3>
      {% for post in site.categories.blog %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="grid_2 links">
      <h3 id="yellow">projects</h3>
      {% for post in site.categories.projects %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="grid_2 links">
      <h3 id="red">misc</h3>
      {% for post in site.categories.misc %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="grid_2 suffix_2 links">
      <h3 id="blue">resources</h3>
      <!--  
        links
      -->
	<a href="http://blog.ntavish.in/">Old blog</a>

	<a href="{{site.url}}/atom.xml">Atom feed</a>

    </div>
  </div>

  <div class="container_16">
    <div class="grid_13 prefix_2 suffix_1 footer">
      <div class="footer_links">
        <a href="{{site.url}}/about.html">about</a>
        <a href="http://github.com/tavishnaruka">code</a>
        <a href="{{site.url}}/submit.html">submit a tip</a>
<!--        twtr   -->
      </div>
    </div>
  </div>
</body>
</html>
